/* Center content horizontally and vertically */
.center {
    display: vertically;
    align:center;

    height: 400px; /* Make the container fill the viewport height */
}

/* Add some styling to headers */
h1, h2 {
    color: #333;
}

/* Add background color to body */
body {
    background-color: #f5f5f5;
}
